<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASQaOZpgRts07stxcKkif7ncKdNNvUEEc</string>
	<key>GCM_SENDER_ID</key>
	<string>423705507899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WillReed.WorkoutPlanner</string>
	<key>PROJECT_ID</key>
	<string>reed-liftlog</string>
	<key>STORAGE_BUCKET</key>
	<string>reed-liftlog.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423705507899:ios:f9fb15d9e60e2da650041e</string>
</dict>
</plist>